body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff9e5;
  color: #222120;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* header styles */

h1 {
  color: #6A040F;
}

button {
  padding: 1% 3%;
  background-color: #6A040F;
  color: #fffcf7;
  border: none;
}

header {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 40%;
}

.logo img{
  height: 75px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.nav a {
  padding: 1% 2%;
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid #b8b3a4;
  color: #6A040F;
}

.banner {
  display: flex;
  justify-content: center;
  height: 500px;
  /* background-color: #d3cfc8; */
}

.float-text {
  width: 30%;
  align-self: center;
  margin-right: 5%;
}

.float-right {
  height: 500px;
  width: 30%;
  background-image: url('./assets/DiviciMeaderyBanner.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* best finished meads */

.best-header {
  text-align: center;
  text-transform: uppercase;
  color: #222120;
  background-color: #b8b3a4;
  padding: 3% 0;
}

.best-header p {
  font-size: .75rem;
  color: #5c5a58;
}