@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-padding {
      @apply px-8 py-16 md:p-16 lg:px-24
    }

    .central {
        @apply flex justify-center items-center
    }

    .app-wrapper {
      @apply flex justify-between flex-col lg:flex-row items-center min-h-screen
    }

    .p-opensans {
        @apply font-alt text-black font-medium tracking-[0.04em] capitalize leading-7 text-xs sm:text-sm md:text-base lg:text-lg xl:text-3xl xl:leading-[50px] 
    }

    .p-cormorant {
      @apply font-base text-black font-bold tracking-[0.04em] capitalize leading-[29.9px] text-[19px] sm:text-[21px] md:text-[23px] lg:text-3xl xl:text-4xl xl:leading-[67px]  
    }

    .custom-button {
      @apply bg-red-md text-white font-base font-bold tracking-[0.04em] leading-7 text-base py-2 px-6 border-none outline-none cursor-pointer
    }
    
    /* ... */
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }