body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff9e5;
  color: #222120;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

/* header styles */

h1 {
  color: #6A040F;
}

button {
  padding: 1% 3%;
  background-color: #6A040F;
  color: #fffcf7;
  border: none;
}

header {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 40%;
}

.logo img{
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.nav a {
  padding: 1% 2%;
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid #b8b3a4;
  color: #6A040F;
}

.banner {
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin: 2% 0 0;
  /* background-color: #b8b3a4; */
}

.float-text {
  width: 30%;
  align-self: center;
  margin: 0 15%;
  /* background-image: linear-gradient( rgb(17, 26, 58), rgb(57, 147, 183)); */
}

.float-right {
  height: auto;
  width: 50%;
  background-image: url('./assets/DiviciMeaderyBanner2.png');
  background-size: cover;
  /* background-position: left; */
  background-repeat: no-repeat;
}

/* best finished meads */

.best-header {
  text-align: center;
  text-transform: uppercase;
  color: #5c5a58;
  padding: 3% 0;
}

.best-header p {
  font-size: .75rem;
  color: #5c5a58;
}

/* mapping of best meads list container*/
.best-meads {
  padding: 0 0 1%;
}

.quick-info {
  width: 60%;
  justify-content: space-around;
  background-color: #fffdf6;
  margin: 0 auto 2%;
  padding: 2% 0;
}

.info {
  width: 30%;
}

.mead-img img{
  height: 300px;
}

.info:nth-of-type(2n+1) {
  float: right;
}

.mead-img img:nth-of-type(2n+1) {
  float: left;
}